.logout-container {
  background-image: linear-gradient(black, rgb(59, 57, 57), rgb(156, 29, 29));
  width: 30em;
  margin: 15em auto auto auto;
  padding: 2em 1em 2em 1em;
}

#logout-message {
  color: white;
  text-align: center;
  font-family: sans-serif;
}
