.signup-form {
  display: flex;
  flex-direction: column;
  width: 40em;
  background-image: linear-gradient(black, rgb(59, 57, 57), rgb(156, 29, 29));
  padding: 2em;
  margin: 10em auto auto auto;
}

.signup-form > input {
  padding: 0.5em;
  width: 20em;
  margin: 0em auto 1em auto;
}

.signup-form > button {
  width: 7em;
  padding: 0.5em 1em 0.5em 1em;
  margin: auto auto auto auto;
}

.signup-form > h3 {
  font-family: sans-serif;
  text-align: center;
  color: white;
  margin-bottom: 1em;
}
