.notfound-container {
  background-color: black;
  margin-top: 2em;
  padding: 0 0 5em 0;
  width: 40em;
  margin-left: auto;
  margin-right: auto;
}

.notfound-container > h1 {
  color: rgb(243, 70, 70);
  text-align: center;
  font-family: sans-serif;
}

.notfound-container > img {
  width: 15em;
  height: 20em;
  display: block;
  margin: auto auto auto auto;
}
